.TodoEditor {
  @media (min-width: 1024px) {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid $black;
    border-radius: 4px;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid $black;
    border-radius: 4px;
  }

  @media (max-width: 767px) {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid $black;
    border-radius: 4px;
    overflow-y: auto;
  }
}
li {
  list-style-type: decimal;
}
.TodoEditor__textarea {
  $line-height: 16px;

  height: $line-height * 3 + 24px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font: inherit;
  line-height: $line-height;
  letter-spacing: 0.01em;

  resize: none;
  margin-bottom: 12px;
}

.TodoEditor__button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;

  width: 100%;
  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: $indigo;
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.TodoList__text {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.TodoList__text--selected {
  color: #ff0000;
  text-shadow: 0px 0px 0px #ff0000;
  display: inline-block;
  padding: 2px 5px;
  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.TodoList__btn--active {
  color: #ff0000;
  text-shadow: 1px 0px 0px #ff0000;
  display: inline-block;
  /* padding: 2px 5px; */
  box-sizing: border-box;
  cursor: pointer;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoList__btn--active svg {
  fill: #ff0000;
}
.TodoList__createdAt {
  color: #888;
  font-size: 12px;
}
.TodoList__createdAt {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .TodoList__text {
    max-width: 200px; /* Adjust the maximum width as per your preference */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.TodoList__editInput {
  height: 200px;
  width: 240px;
}
.selected-todo {
  list-style-type: none;
}
