/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      rgba(255, 249, 231, 0.7),
      rgba(255, 249, 231, 0.7)
    ),
    url('./img/bg.png');
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 40px;
  }
}

.header {
  padding: 20px 0px 20px 5px;
  display: flex;
  align-items: center;
  background: #f1f1f1;
}

@media (max-width: 767px) {
  .header {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center; /* Смещение вправо */
    /* justify-content: center; */ /* Выравнивание по центру */
    background: #f1f1f1;
  }
}

.header > div {
  margin-right: 7px;
}

.buttons-container {
  margin-left: 0px;
  display: flex;
  gap: 7px;
}

.filter {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  @media (max-width: 767px) {
    margin-left: 0px;
  }
}

.delete-btn {
  padding: 5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
}

.delete-btn.disabled {
  background-color: #ccc;
}

.edit-btn {
  padding: 5px;
  background-color: #00ff00;
  color: #fff;
  border-radius: 5px;
}

.edit-btn.disabled {
  background-color: #ccc;
}
@media (max-width: 767px) {
  .TodoList__btn {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
