/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      rgba(255, 249, 231, 0.7),
      rgba(255, 249, 231, 0.7)
    ),
    url('./img/bg.png');
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0px 1px 1px 1px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0px 1px 1px 1px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0px 1px 1px 1px;
  }
}

.header {
  padding: 20px 0px 20px 5px;
  margin: top;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  position: fixed;
  width: 100%;
  z-index: 3;
}

@media (max-width: 767px) {
  .header {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
  }
}

.header > div {
  margin-right: 7px;
}

.buttons-container {
  margin-left: 0px;
  display: flex;
  gap: 7px;
}

.filter {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .filter {
    margin-left: 0px;
  }
}

.delete-btn {
  padding: 5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
}

.delete-btn.disabled {
  background-color: #ccc;
}

.edit-btn {
  padding: 5px;
  background-color: #00ff00;
  color: #fff;
  border-radius: 5px;
}

.edit-btn.disabled {
  background-color: #ccc;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.delete-modal p {
  margin: 0 0 10px;
}

.delete-modal button {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .TodoList__btn {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
  }

  .sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    width: 1px;
    background-color: #ccc;
  }
}
