/* Dropdown.css */
.Dropdown {
  position: relative;
}
.Dropdown__menu {
  top: 100%;
  left: 0;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* overflow: auto; */
  max-height: 200px;
}

.Dropdown__toggle {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
